.spancel {
    color: #3678B7;
    font-weight: 900;
}
.ch{
    color: #002f5b;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.const{
    font-weight: 900;
    font: 900;
}
th{
    background-color: white;
}
h2{
    color: #032c53;
    background-color: #478acd;
    font-weight: 900;
    font-family:  Georgia, Times, serif
}
tr:nth-child(odd){
    background-color: #f2f2f2;
}
.image-container {
    position: relative; /* Loại bỏ float: right */
    margin-right: 20px; /* Khoảng cách giữa ảnh và tiêu đề */
}

.image-container img {
    position: absolute;
    top: 0; 
    right: 0;
    width: 300px;
    height: 300px;
}
.title-container {
    position: relative;
}