.spancel {
    color: #3678B7;
    font-weight: 900;
}
.ch{
    color: #3678B7;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.const{
    font-weight: 900;
    font: 900;
}
th{
    background-color: white;
}
img{
    top: 100px; /* Adjust top margin */
    right: 50px; /* Adjust left margin */
    width: 200px; /* Set avatar width */
    height: 200px; /* Set avatar height */
}
h2{
    color: #3678B7;
    background-color: #BAD2EA;
    font-weight: 900;
}
tr:nth-child(odd){
    background-color: #f2f2f2;
}